nav{/*setting defaults for the navigation*/
    background-color:var(--mainDark--);
    height:5rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-weight:bold;
}
    nav a{/*setting defaults for navigation link*/
        text-align:center;
        background-color:var(--mainLight--);
        color:"black";
        padding:1rem 2rem;
    }
        nav a#active{/*for the current link*/
            align-self:stretch;
            color:var(--mainDark--)
        }
        nav a:hover{/*when hovering over a link.!!ADD ANIMATION!!*/
            align-self:baseline;
            height:100%;
        }
    nav img{
        height:4rem;
    }
    @media only screen and (max-width:760px) and (pointer:coarse), only screen and (orientation:landscape) and (hover:none)/*phone landscape and portirate*/, only screen and (max-width:600px) and (pointer:fine)/*halfed screen on a window*/, only screen and (orientation:landscape) and (max-width:820px) and (pointer:coarse)/*phone in landscape mode*/{
        nav {
            width:100%;
        }
            nav a{
                font-size:.75rem;
                padding:.3rem;
            }
    }